# Ignore Python cache files
__pycache__/
*.pyc

DS_Store
/pretrained_models/yolov8x.pt
/pretrained_models/yolov5m.pt
/pretrained_models/yolov5l.pt
/pretrained_models/yolov5x.pt
/yolov8x.pt
/yolov5m.pt
/yolov5l.pt
/data/v3.mp4
/data/v1.mp4
/data/v4.mp4
/data/v7.mp4
/yolov5x.pt
/yolov8x.pt
/data/*
/pretrained_models/*
yolov5l.pt
yolov5m.pt
yolov5x.pt
yolov8x.pt
yolov5s.pt
yolov5n.pt
